// BRANDS COLORS
$color-purple: #{var(--color-purple)};
$color-light-purple: #{var(--color-light-purple)};
$color-dark-purple: #{var(--color-dark-purple)};
$color-dark: #{var(--color-dark)};
$color-light: #{var(--color-light)};
$color-gray: #{var(--color-gray)};
