@import '../variables/all.scss';

//  UTILS FOR TEXTS
@mixin break-words {
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ellipsis-multi-line {
  word-break: break-all;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@mixin hyphens {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
